:root {
  --green: #0e7c7b;
  --darkgreen: #0f7173;
  --lightgreen: #a5ffd6;
  --lightblue: #cdfff9;
  --pinkyred: #ff686b;
  --black: #004040;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;
}

/* CSS reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  font-size: 18px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: var(--darkgreen);
}
/* ======= Header ======= */
header {
  background: var(--lightgreen);
  box-shadow: rgba(0, 0, 0, 0.9) 0px 2px 5px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-lg);
  max-width: 1000px;
  margin: 0 auto;
}
.top-header {
  display: flex;
  justify-content: space-between;
}
form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-sm);
}
form input {
  padding: 2px;
}
.add-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
}
.add-btn button {
  border: none;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  padding: 5px 12px;
  border-radius: 50%;
  background: var(--darkgreen);
  color: var(--lightgreen);
}
.add-btn button:hover {
  transform: scale(1.3);
}

/* ======= Main ======= */
main {
  padding: var(--spacing-xl);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--spacing-lg);
}

/* ======= Book card ======= */
.book-card {
  background-color: var(--lightblue);
  border-radius: 8px;
  padding: var(--spacing-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing-md);
}
.book-card div {
  display: flex;
  gap: 5px;
}
.book-card button {
  padding: var(--spacing-xs);
  width: 100%;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  background: var(--lightgreen);
}
.book-card button:hover {
  background: var(--green);
  color: var(--lightblue);
}

/* ======= Footer ======= */
footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  width: 100%;
}

@media (max-width: 800px) {
  :root {
    --spacing-xl: 20px;
  }
  form {
    flex-direction: column;
    align-items: flex-end;
  }
}
